<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wealdtech.android.fabric"
    android:versionCode="1"
    android:versionName="0.0.0.1">

    <!-- For ViewServer -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

<!--
        <activity
            android:name=".PlayActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
-->

        <activity android:name="com.wealdtech.android.fabric.test.GlobalScopeTestActivity" />
        <activity android:name="com.wealdtech.android.fabric.test.ActivityScopeTestActivity" />
        <activity android:name="com.wealdtech.android.fabric.test.ComponentScopeTestActivity" />
        <activity android:name="com.wealdtech.android.fabric.test.ScopingTestActivity" />
        <activity android:name="com.wealdtech.android.fabric.test.PersistenceTestActivity" />
    </application>
</manifest>
